In [3]:

from io import BytesIO
import requests
import time
import pandas as pd
import os

BASE_URL = "https://www.alphavantage.co/query?"
API_KEY = os.environ.get("ALPHA_VANTAGE_API_KEY")

In [4]:
def earnings_calendar_api(api_key, horizon, symbol=None):
    if symbol is not None:
        url = f'{BASE_URL}function=EARNINGS_CALENDAR&symbol={symbol}&horizon={horizon}&apikey={api_key}'
        response = requests.get(url)
    else:
        url = f"{BASE_URL}function=EARNINGS_CALENDAR&horizon={horizon}&apikey={api_key}"
        response = requests.get(url)

    return pd.read_csv(BytesIO(response.content))

horizon=["3month","6month","12month"]
earnings_calendar_api(API_KEY,horizon[0])

,symbol,name,reportDate,fiscalDateEnding,estimate,currency
0,A,Agilent Technologies Inc,2023-05-22,2023-04-30,1.2600,USD
1,AA,Alcoa Corp,2023-04-18,2023-03-31,0.1300,USD
2,AABVF,AABVF,2023-05-01,2023-04-30,NaN,USD
3,AACAY,AACAY,2023-05-19,2023-03-31,0.0232,USD
4,AACG,ATA Creativity Global,2023-05-10,2023-03-31,NaN,CNY
...,...,...,...,...,...,...
7391,ZVRA,Zevra Therapeutics Inc,2023-05-10,2023-03-31,-0.2300,USD
7392,ZWS,Zurn Elkay Water Solutions Corp,2023-04-24,2023-03-31,0.1500,USD
7393,ZYME,Zymeworks BC Inc,2023-05-02,2023-03-31,NaN,USD
7394,ZYNE,Zynerba Pharmaceuticals Inc,2023-05-15,2023-03-31,-0.1900,USD
7395,ZYXI,Zynex Inc,2023-04-26,2023-03-31,0.0100,USD

In [5]:
from datetime import datetime

start = datetime(2020, 1, 1)
end = datetime(2023, 4, 4)

In [6]:
def to_unixtime(dt):
    epoch = datetime.utcfromtimestamp(0)
    return int((dt - epoch).total_seconds())

In [7]:
aapl_query_url = 'https://query1.finance.yahoo.com/v7/finance/download/aapl?period1={}&period2={}'.format(to_unixtime(start), to_unixtime(end))
nasdaq = pd.read_csv(aapl_query_url, index_col=[0],parse_dates=False)

In [8]:
print(nasdaq)

                  Open        High         Low       Close   Adj Close
Date
2020-01-02   74.059998   75.150002   73.797501   75.087502   73.449402  \
2020-01-03   74.287498   75.144997   74.125000   74.357498   72.735306
2020-01-06   73.447502   74.989998   73.187500   74.949997   73.314911
2020-01-07   74.959999   75.224998   74.370003   74.597504   72.970085
2020-01-08   74.290001   76.110001   74.290001   75.797501   74.143906
...                ...         ...         ...         ...         ...
2023-03-28  157.970001  158.490005  155.979996  157.649994  157.649994
2023-03-29  159.369995  161.050003  159.350006  160.770004  160.770004
2023-03-30  161.529999  162.470001  161.270004  162.360001  162.360001
2023-03-31  162.440002  165.000000  161.910004  164.899994  164.899994
2023-04-03  164.270004  166.289993  164.220001  166.169998  166.169998

               Volume
Date
2020-01-02  135480400
2020-01-03  146322800
2020-01-06  118387200
2020-01-07  108872000
2020-01-08  132079200
...               ...
2023-03-28   45992200
2023-03-29   51305700
2023-03-30   49501700
2023-03-31   68694700
2023-04-03   56976200

[819 rows x 6 columns]